h3 {
	font-size: 120%;
	padding-left: 2em;
}

td {
	padding-left: 1ex;
	padding-right: 1ex;
}
.taf {
	background-color: #FFDDDD;
	}
.taf:hover {
	background-color: #FFBCBC;
	}
.todo {
	background-color: #FFDDDD;
	}
.todo:hover {
	background-color: #FFBCBC;
	}
.maj {
	background-color: #FFDDDD;
	}
.maj:hover {
	background-color: #FFBCBC;
	}
.itt {
	background-color: #FFEEDD;
	}
.itt:hover {
	background-color: #FFDDBC;
	}
.rfr {
	background-color: #FFFFDD;
	}
.rfr:hover {
	background-color: #FFFFBC;
	}
.itr {
	background-color: #FFFFDD;
	}
.itr:hover {
	background-color: #FFFFBC;
	}
.lcfc {
	background-color: #DDEEFF;
	}
.lcfc:hover {
	background-color: #BCDDFF;
	}
.bts {
	background-color: #DDFFFF;
	}
.bts:hover {
	background-color: #BCFFFF;
	}
.wontfix {
	background-color: #DDFFDD;
	}
.wontfix:hover {
	background-color: #BCFFBC;
	}
.fix {
	background-color: #DDFFDD;
	}
.fix:hover {
	background-color: #BCFFBC;
	}
.done {
	background-color: #DDFFDD;
	}
.done:hover {
	background-color: #BCFFBC;
	}
.hold {
	background-color: #DDDDDD;
	}
.hold:hover {
	background-color: #BCBCBC;
	}
