td {
  border: 1px solid gray;
}

th {
  border: 1px solid gray;
}

table {
  border-collapse: collapse;
}

.removed {
  background-color: #FFDDDD;
}

.nodebconf {
  background-color: #FFDDDD;
}

.switch {
  background-color: #DDDDDD;
}

.normal {
  background-color: #DDFFDD;
}
